body,html,table {
  font-size:13px;
  font-family:"Lato",sans-serif;
  color: #666666;
  text-align: center;
  margin: 0;
}

.btn-log {
  text-decoration: none;
  background: none;
  color: white;
  font-size: 20px;
  border-color: #f7d549;
  margin-top: 50px;
  padding: 20px 40px;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .4s;
}

.btn:link,
.btn:visited {
}

.btn-log:hover {
  background-color: #f7d549;
  color: black;
}

.btn.log::after {
}

#main{
  width: 50%;
  margin-left: 25%;
}

.head {
  background-image: linear-gradient(#a5a5a5cc, rgba(0, 0, 0, 1)), url(../images/kurwa.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

  .navbar {
    overflow: hidden;
    background-color: #1aa89d;
    transform: translateY(-12px);
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar a.active {
    background-color: #4CAF50;
    color: white;
  }

  ul {
    list-style-type: none;
  }

  .logo {
    transform: scale(.5);
  }

  form {
    width: 20%;
    margin-left: 40%;
    padding: 30px;
  }