body,html,table {
  font-size:16px;
  font-family:"Lato",sans-serif;
  color: #666666;
  text-align: center;
  margin: 0 auto;
}

.nav-margin {
  padding-top: 80px;
}

.row{
  max-width:  1140px;
  margin: 0 auto;
}

.btn-log {
  text-decoration: none;
  background: none;
  color: white;
  font-size: 20px;
  border-color: #f7d549;
  margin-top: 50px;
  padding: 20px 40px;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .4s;
}

.btn-log:hover {
  background-color: #f7d549;
  color: black;
}

#main{
  width: 50%;
  margin-left: 25%;
  padding-top: 35px;
  padding-bottom: 50px;
}

.head {
  background-image: linear-gradient(#1a6458cc, rgba(0, 0, 0, 1)), url(../images/main.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

  .navbar {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0 2px 2px -2px gray;
  }
  
  .navbar a {
    display: block;
    color: rgb(184, 184, 184);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    transition: all .2s;
  }
  
  .navbar a:hover {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #1aa89d;
    padding-bottom: 29px;
    color: #1aa89d;;
  }
  
  .navbar a.active {
    background-color: #4CAF50;
    color: white;
  }

  ul {
    text-align: right;
    list-style: none;
}

ul li {
    display: inline-block;
}

.navbar ul li:last-child a{
  color: rgba(255, 0, 0, 0.4);
}

.navbar ul li:last-child a:hover{
  color: red;
  border-bottom-color: red;
}

.logo {
    height: 50px;
    width: auto;
    float: left;
  }

  .logo-big {
    transform: scale(.5);
  }

  form {
    width: 50%;
    margin-left: 25%;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .form {
    background-color: #fcfcfc;
    align-content: center;
  }
  
  .footer {
    background-image: linear-gradient(#1a6458cc, rgba(0, 0, 0, 1)), url(../images/main.jpg);
    height: auto;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
  }

  .footer a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition: all .2s;
  }

  .footer a:hover {
    color: #1aa89d;
  }

  .footer ul {
    text-align: center;
    color: white;
  }

  .footer li {
    display: inline-block;
    padding: 10px;
  }

  .footer-log {
    height: 20vh;
    padding: 20px;
  }

  .footer-list {
    padding: 10px;
    align-content: center;
  }

  #contact {
    border: none;
  }

#sender {
    border-radius: 10px;
    text-align: center;
    border: 1px solid #1a6458cc;
  }

#subject {
  border-radius: 10px;
  text-align: center;
  border: 1px solid #1a6458cc;
}

#content {
  border-radius: 10px;
  text-align: center;
  border: 1px solid #1a6458cc;
}

input[type=text] {
  border-radius: 10px;
  text-align: center;
  border: 1px solid #1a6458cc;
}

input[type=email] {
  border-radius: 10px;
  text-align: center;
  border: 1px solid #1a6458cc;
}

.img-games {
  width: 100%;
}

#submit {
  text-decoration: none;
  background: #1a6458cc;
  color: white;
  font-size: 10px;
  border-color: #1a6458cc;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  text-transform: uppercase;
}

#wyslij{
  text-decoration: none;
  background: #1a6458cc;
  color: white;
  font-size: 10px;
  border-color: #1a6458cc;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  text-transform: uppercase;
}

#wyslij1{
  text-decoration: none;
  background: #1a6458cc;
  color: white;
  font-size: 10px;
  border-color: #1a6458cc;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  text-transform: uppercase;
}

#wyslij2{
  text-decoration: none;
  background: #1a6458cc;
  color: white;
  font-size: 10px;
  border-color: #1a6458cc;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  text-transform: uppercase;
}

#wyslij3 {
  text-decoration: none;
  background: #1a6458cc;
  color: white;
  font-size: 10px;
  border-color: #1a6458cc;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  text-transform: uppercase;
}